<!-- Credit card form -->
<section>
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">DESAYUNO***</h5>
        </div>
        <div class="card-body">
          <form>
            <!-- Text input -->
            <div class="row mb-4">
              <div class="col">
                
                  <select class="btn btn-primary dropdown-toggle " (change)="ngSelectedDesayuno($event)" >
                    <option *ngFor="let grupoAlimento of grupoAlimentos; let i = index" [value]="grupoAlimentos[i].idGrupoAlimento" >
                      {{grupoAlimento.tipo}}
                    </option>
                  </select>
                
              </div>
              <div class="col">
               <select class="btn btn-primary dropdown-toggle " (change)="ngSelectedUnidad($event)" >
                <option *ngFor="let alimento of alimentos; let i = index" [value]="alimentos[i].idAlimento" >
                  {{alimento.nombre}}
                </option>
              </select>
              </div>
            </div>


            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="desayunoId" name="selectedDesayuno" class="form-control"
                    [(ngModel)]="selectedDesayuno" />
                  <label class="form-label" for="desayunoId">Id grupo Alimento</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="selectedUnidad" name="selectedUnidad" class="form-control" 
                  [(ngModel)]="selectedIdAlimento" />
                  <label class="form-label" for="selectedUnidad">Id Alimento</label>
                </div>
              </div>


            </div>

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form6Example1" name="tipo" class="form-control"
                    [(ngModel)]="unidad" />
                  <label class="form-label" for="form6Example1">Unidad</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form6Example2" name="unidad_id" class="form-control" 
                  [(ngModel)]="cantidad"/>
                  <label class="form-label" for="form6Example2">Cantidad</label>
                </div>
              </div>              
            </div>




            <div class="panel-body overflow-scroll ">  
              <table  class="table table-hover table-sm text-center"  >  
                  <thead class="thead-light">  
                      <tr>  
                        <th>Alimento</th>                        
                        <th>Peso bruto redondeado (g)</th> 
                        <th>Peso neto (g)</th> 
                        <th>Agua (ml)</th> 
                        <th>Energía (kcal)</th> 
                        <th>Proteína (g)</th> 
                        <th>Lípidos (g)</th> 
                        <th>Hidratos de carbono (g)</th> 
                        <th>Fibra (g)</th> 
                        <th>Vitamina A (µg RE)</th> 
                        <th>Ácido Ascórbico (mg)</th> 
                        <th>Ácido Fólico (µg)</th> 
                        <th>Hierro (mg)</th> 
                        <th>Potasio (mg)</th> 
                        <th>Índice glicémico</th> 
                        <th>Carga glicémica</th> 
                        <th>Azúcar por equivalente (g)</th> 
                        <th>Calcio (mg)</th> 
                        <th>Sodio (mg)</th> 
                        <th>Selenio (µg)</th> 
                        <th>Fósforo (mg)</th> 
                        <th>Colesterol (mg)</th> 
                        <th>AG saturados (g)</th> 
                        <th>AG monoinsaturados (g)</th> 
                        <th>AG poliinsaturados (g)</th> 
                        <th>Etanol (g)</th> 
                      </tr>  
                  </thead>  
                  <tbody>  
                       <tr *ngFor="let alimentoNutrienteArray of alimentoNutrientesTabla; let i = index ">  
                        <td>{{nombreAlimentoArray[i]}}</td>
                        <td *ngFor="let alimentoNutriente of alimentoNutrienteArray ">  
                          {{alimentoNutriente.cantidad}}
                        </td>     
                      </tr>  
                  </tbody><br>  
              </table>  
          </div>  






            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Continue to checkout
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Summary</h5>
        </div>
        <div class="card-body">

            <h1>Lista de alimento nutriente</h1>


            <div class="panel-body">  
              <table  class="table table-hover table-sm"  >  
                  <thead class="thead-light">  
                      <tr>  
                          <th>Nombre</th>  
                          <th>Cantidad</th>  

                      </tr>  
                  </thead>  
                  <tbody>  
                       <tr *ngFor="let alimentoNutriente of alimentoNutrientes ">  
                          <td>{{alimentoNutriente.nutrientes.nutriente}}</td>  
                          <td>{{alimentoNutriente.cantidad}}</td>                          
                        </tr>   
                  </tbody><br>  
              </table>  
          </div>  










          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Cantidad
              <div class="col-3">
                <div class="form-outline">
                  <input type="text" [(ngModel)]="proporcion" id="idCantidadNuevo" class="form-control" />
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Actualizar
              <div class="col-3">
                <div class="form-outline">
                  <input type="button" (click)="calcularNutriente()"  id="idBoton" value="Enviar" class="form-control btn btn-success" />
                </div>
              </div>
            </li>
              <div>
                <div class="col-12 mt-4">
                  <div class="form-outline">
                    <input type="button" (click)="agregarAlimentoNutrientesTabla()" id="idBotonTabla" value="Enviar" class="form-control btn btn-primary btn-block" />
                  </div>
                </div>
                </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Credit card form -->