<h1 class="mb-0">Soliciitudes de acceso a la plataforma ANAMEX</h1>


<br>
<div>
    <form>
 <!---Silviana: Tabla de las solicitudes de  acceso a la plataforma --> 
            <div class="panel-body overflow-scroll ">
              <table id="usuarioAcceso-tble" class="table table-hover table-sm text-center">
                <thead class="thead-light">  
<!---Silviana: Acá se llena la tabla con las solicitudes de acceso a la plataforma --> 
                <tr>
                  <th>Nombre</th>
                  <th>Apellido paterno</th>
                  <th>Apellido materno</th>
                  <th>Instituci&oacute;n</th>
                  <th>Correo electr&oacute;nico</th>
<!---Silviana: En la columna "Acción" se colocará un botón para borrar al usuario de la BD --> 
                  <th colspan="2">Acci&oacute;n</th>
            </tr>
            </thead>
<!---Silviana: Acá deben colocarse los datos de los usuarios, eston colocando dos usuarios de prueba --> 
<!---Silviana: Se requiere visualizar a los usuarios desde la Base de datose --> 
            <tr id="fila0">  
        <td>Juan</td>
        <td>Perez</td>
        <td>Lopez</td>
        <td>Sierra Sur</td>
        <td>nombre@correo.com</td>
<!---Silviana: Este es el botón para borrar a este usario en particular --> 
        <td><input type="button"  id="AddButton" value="Agregar" (click)="eliminarFila(0)" class="form-control btn btn-success" />    </td>
        <td><input type="button"  id="deleteButton" value="Eliminar" (click)="eliminarFila(0)" class="form-control btn btn-success" /></td>
    </tr>  
     <tr id="fila1">  
        <td>Rosita</td>
        <td>Perez</td>
        <td>Lopez</td>
        <td>Sierra Sur</td>
        <td>nombre@correo.com</td>
<!---Silviana: Cada usuario tendrá su botón, de eso yo me encargo --> 
        <td><input type="button"  id="AddButton" value="Agregar" (click)="eliminarFila(0)" class="form-control btn btn-success" />    </td>
        <td><input type="button"  id="deleteButton" value="Eliminar" (click)="eliminarFila(0)" class="form-control btn btn-success" /></td> 
    </tr>    
        </table>
      </div>
<br>

    </form>
</div>
 