<h1>Acerca de...</h1>
<p>La presente herramienta automatiza el c&aacute;lculo nutricional aportando toda la informaci&oacute;n nutricional de los alimentos consmidos durante un d&iacute;a,</p>
<p>dividiendo el c&aacute;lculo nutricional en tiempos de comida. Todo esto presentado en una interfaz amigable para los usuarios.</p>
<p>El presente es un modelo de utilidad que est&aacute; disponible en un sitio web, con un Modelo Vista Controlado(MVC), que es un estilo de arquitectura de software que separa los datos de una aplicaci&oacute;n, la interfaz de usuario y la l&oacute;gica de control en tres componentes distintos: Modelo, Vista y Controlador.(MVC),</p>
<p> que es un estilo de arquitectura de software que separa los datos de una </p>
<p>aplicaci&oacute;n, la interfaz de usuario y la l&oacute;gica de control en tres componentes distintos: Modelo, Vista y Controlador.</p>