<!--
    Directora del proyecto: Sabina López Toledo                               
    Coordinadora y Desarrolladora: Silviana Juárez Chalini                    
    Desarrollador: Rolando Pedro Gabriel                                      
    Fecha de Creación: 22/04/2022                                              
    Fecha de Actualización: 12/07/2023                                         
-->

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <!-- Login -->
        <div class="col-lg-12">
            <!-- Section: Design Block -->
            <section class="">
                <!-- Jumbotron -->
                <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
                    <div class="container">
                        <div class="row gx-lg-5 align-items-center">                        
                                <h1>Acerca de...</h1>
                                <p>La presente herramienta automatiza el c&aacute;lculo nutricional aportando toda la
                                    informaci&oacute;n nutricional de los alimentos consmidos durante un d&iacute;a,
                                    dividiendo el c&aacute;lculo nutricional en tiempos de comida. Todo esto presentado
                                    en una interfaz amigable para los usuarios.
                                </p>
                                <p>El presente es un modelo de utilidad que est&aacute; disponible en un sitio web, con
                                    un Modelo Vista Controlado(MVC), que es un estilo de arquitectura de software que
                                    separa los datos de una aplicaci&oacute;n, la interfaz de usuario y la l&oacute;gica
                                    de control en tres componentes distintos: Modelo, Vista y Controlador.(MVC), que es
                                    un estilo de arquitectura de software que separa los datos de una aplicaci&oacute;n,
                                    la interfaz de usuario y la l&oacute;gica de control en tres componentes distintos:
                                    Modelo, Vista y Controlador.</p>
                        </div>
                    </div>
                </div>
                <!-- Jumbotron -->
            </section>
            <!-- Section: Design Block -->
        </div>
        <!-- Termina el Login -->
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</div>