<!--
    Directora del proyecto: Sabina López Toledo                               
    Coordinadora y Desarrolladora: Silviana Juárez Chalini                    
    Desarrollador: Rolando Pedro Gabriel                                      
    Fecha de Creación: 22/04/2022                                              
    Fecha de Actualización: 12/07/2023                                         
-->

<!-- Page Wrapper -->
<div id="wrapper">

<!-- Sidebar -->
<!-- End of Sidebar -->

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column bg-white">

		<!-- Main Content -->
		<div id="content">

			<!--<div class="container px-4 px-lg-5">--> <!-- Reducir el tamaño del contenido-->
			<!-- Silviana: Menú superior principal-->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container px-4">

					<img class="img-fluid rounded float-left" width="80" height="80"
						src="../../assets/images/unsis-logo.png" alt="..." />

					<a class="navbar-brand" href="#!">A N A M E X</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation"><span
							class="navbar-toggler-icon"></span></button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link active" aria-current="page" href="/login">Inicio</a>
							</li>
							<li class="nav-item"><a class="nav-link " href="/tiempocomida" *ngIf="isLoggedIn && isActive">Tiempos de Comida</a></li>
							<li class="nav-item"><a class="nav-link" href="/concentrado" *ngIf="isLoggedIn && isActive">An&aacute;lisis de la Ingesta</a></li>
							<li class="nav-item"><a class="nav-link" href="/admon-solicita" *ngIf="isLoggedIn && isAvailable && isActive">Administraci&oacute;n solicitudes</a></li>
							<li class="nav-item"><a class="nav-link" href="/acercade">Acerca de</a></li>
							<li class="nav-item"><a href class="nav-link" (click)="logout()">Salir</a>
							</li>

						</ul>
					</div>
				</div>
			</nav>
			<!--</div>--> <!-- Reducir el tamaño del contenido-->

			<div class="container-fluid bg-white">
				<router-outlet></router-outlet>
			</div>

		</div>
		<!-- End of Main Content -->
		<!--<div class="container px-4 px-lg-5">--> <!-- Reducir el tamaño del contenido-->
		<!-- Footer-->
		<footer class="py-5 bg-light">
			<div class="container px-4 px-lg-5">
				<p class="m-0 text-center text-black">Copyright &copy; Contenido Nutricio 2022</p>
			</div>
		</footer>
		<!--</div>--> <!-- Reducir el tamaño del contenido-->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->