<br>
<div>
    <!-- Botón para exportar a Excel -->  
    <div class="form-outline">
    <input type="button" (click)="exportToExcel()" id="idBotonExportaExcel" value="Exportar a Excel" class="form-control btn btn-success" style='width:200px; height:50px'/> 
</div>

<!-- Tabla del desayuno --> 
<div class="panel-body overflow-scroll ">
    <table id="analisisIngesta-tble">
      <caption>An&aacute;lisis de Ingesta</caption>
      <tr>
        <th class="tiempoComida" colspan="28">Desayuno</th>
      </tr>
      <tr>
        <th class="nutriente">Alimento</th>
        <th class="nutriente">Unidad</th>
        <th class="nutriente">Cantidad sugerida</th>
        <th class="nutriente">Peso bruto redondeado (g)</th>
        <th class="nutriente">Peso neto (g)</th>
        <th class="nutriente">Agua (ml)</th>
        <th class="nutriente">Energ&iacute;a (kcal)</th>
        <th class="nutriente">Prote&iacute;na (g)</th>
        <th class="nutriente">L&iacute;pidos (g)</th>
        <th class="nutriente">Hidratos de carbono (g)</th>
        <th class="nutriente">Fibra (g)</th>
        <th class="nutriente">Vitamina A (&micro;g RE)</th>
        <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
        <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
        <th class="nutriente">Hierro (mg)</th>
        <th class="nutriente">Potasio (mg)</th>
        <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
        <th class="nutriente">Carga glic&eacute;mica</th>
        <th class="nutriente">Az&uacute;car por equivalente (g)</th>
        <th class="nutriente">Calcio (mg)</th>
        <th class="nutriente">Sodio (mg)</th>
        <th class="nutriente">Selenio (&micro;g)</th>
        <th class="nutriente">F&oacute;sforo (mg)</th>
        <th class="nutriente">Colesterol (mg)</th>
        <th class="nutriente">AG saturados (g)</th>
        <th class="nutriente">AG monoinsaturados (g)</th>
        <th class="nutriente">AG poliinsaturados (g)</th>
        <th class="nutriente">Etanol (g)</th>
  </tr>
   <!-- Aca llenamos la tabla de desayuno --> 
  <tr *ngFor="let alimentoNutrienteArray of desayunoTabla; let i = index">
    <td>{{nombreAlimentoDesayunoArray[i]}}</td>
    <td>{{unidadAlimentoDesayunoArray[i]}}</td>
    <td>{{cantidadAlimentoDesayunoArray[i]}}</td>
     <td>i</td>

    
         
  </tr>  
  </table>
</div>