<div>
    <!-- Tabla botón para exportar a Excel --> 
    <button (click)="exportToExcel()">Exportar a Excel</button>
  
    <!-- Tabla del desayuno --> 
    <table id="analisisIngesta-tble">
      <caption>An&aacute;lisis de Ingesta</caption>
      <tr>
        <th class="tiempoComida" colspan="28">Desayuno</th>
      </tr>
      <tr>
        <th class="nutriente">Alimento</th>
        <th class="nutriente">Cantidad sugerida</th>
        <th class="nutriente">Unidad</th>
        <th class="nutriente">Peso bruto redondeado (g)</th>
        <th class="nutriente">Peso neto (g)</th>
        <th class="nutriente">Agua (ml)</th>
        <th class="nutriente">Energ&iacute;a (kcal)</th>
        <th class="nutriente">Prote&iacute;na (g)</th>
        <th class="nutriente">L&iacute;pidos (g)</th>
        <th class="nutriente">Hidratos de carbono (g)</th>
        <th class="nutriente">Fibra (g)</th>
        <th class="nutriente">Vitamina A (&micro;g RE)</th>
        <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
        <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
        <th class="nutriente">Hierro (mg)</th>
        <th class="nutriente">Potasio (mg)</th>
        <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
        <th class="nutriente">Carga glic&eacute;mica</th>
        <th class="nutriente">Az&uacute;car por equivalente (g)</th>
        <th class="nutriente">Calcio (mg)</th>
        <th class="nutriente">Sodio (mg)</th>
        <th class="nutriente">Selenio (&micro;g)</th>
        <th class="nutriente">F&oacute;sforo (mg)</th>
        <th class="nutriente">Colesterol (mg)</th>
        <th class="nutriente">AG saturados (g)</th>
        <th class="nutriente">AG monoinsaturados (g)</th>
        <th class="nutriente">AG poliinsaturados (g)</th>
        <th class="nutriente">Etanol (g)</th>
  </tr>
  <!-- Aca llenamos la tabla de desayuno --> 
  <tr *ngFor="let desayuno of Desayuno">
    <td>{{desayuno.Alimento}}</td>
    <td>{{desayuno.CantidadSugerida}}</td>
    <td>{{desayuno.Unidad}}</td>
    <td>{{desayuno.PesoBrutoRedondeado}}</td>
    <td>{{desayuno.PesoNeto}}</td>
    <td>{{desayuno.Agua}}</td>
    <td>{{desayuno.Energia}}</td>
    <td>{{desayuno.Proteina}}</td>
    <td>{{desayuno.Lipidos}}</td>
    <td>{{desayuno.HidratosDeCarbono}}</td>
    <td>{{desayuno.Fibra}}</td>
    <td>{{desayuno.VitaminaA}}</td>
    <td>{{desayuno.AcidoAscorbico}}</td>
    <td>{{desayuno.AcidoFolico}}</td>
    <td>{{desayuno.Hierro}}</td>
    <td>{{desayuno.Potasio}}</td>
    <td>{{desayuno.IndiceGlicemico}}</td>
    <td>{{desayuno.CargaGlicemica}}</td>
    <td>{{desayuno.AzucarPorEquivalente}}</td>
    <td>{{desayuno.Calcio}}</td>
    <td>{{desayuno.Sodio}}</td>
    <td>{{desayuno.Selenio}}</td>
    <td>{{desayuno.Fosforo}}</td>
    <td>{{desayuno.Colesterol}}</td>
    <td>{{desayuno.AgSaturados}}</td>
    <td>{{desayuno.AgMonoinsaturados}}</td>
    <td>{{desayuno.AgPoliinsaturados}}</td>
    <td>{{desayuno.Etanol}}</td>  
  </tr>
  
    <!-- Seccion de la suma del desayuno --> 
    <tr>
      <th class="suma" colspan="28">Suma preliminar del desayuno</th>
    </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <th class="nutriente">Peso bruto redondeado (g)</th>
        <th class="nutriente">Peso neto (g)</th>
        <th class="nutriente">Agua (ml)</th>
        <th class="nutriente">Energ&iacute;a (kcal)</th>
        <th class="nutriente">Prote&iacute;na (g)</th>
        <th class="nutriente">L&iacute;pidos (g)</th>
        <th class="nutriente">Hidratos de carbono (g)</th>
        <th class="nutriente">Fibra (g)</th>
        <th class="nutriente">Vitamina A (&micro;g RE)</th>
        <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
        <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
        <th class="nutriente">Hierro (mg)</th>
        <th class="nutriente">Potasio (mg)</th>
        <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
        <th class="nutriente">Carga glic&eacute;mica</th>
        <th class="nutriente">Az&uacute;car por equivalente (g)</th>
        <th class="nutriente">Calcio (mg)</th>
        <th class="nutriente">Sodio (mg)</th>
        <th class="nutriente">Selenio (&micro;g)</th>
        <th class="nutriente">F&oacute;sforo (mg)</th>
        <th class="nutriente">Colesterol (mg)</th>
        <th class="nutriente">AG saturados (g)</th>
        <th class="nutriente">AG monoinsaturados (g)</th>
        <th class="nutriente">AG poliinsaturados (g)</th>
        <th class="nutriente">Etanol (g)</th>            
  </tr>
  <!-- Aca llenamos la suma del desayuno --> 
  <tr *ngFor="let sumaDesayuno of SumaDesayuno">
    <td></td>
    <td></td>
    <td></td>
    <td>{{sumaDesayuno.PesoBrutoRedondeado}}</td>
    <td>{{sumaDesayuno.PesoNeto}}</td>
    <td>{{sumaDesayuno.Agua}}</td>
    <td>{{sumaDesayuno.Energia}}</td>
    <td>{{sumaDesayuno.Proteina}}</td>
    <td>{{sumaDesayuno.Lipidos}}</td>
    <td>{{sumaDesayuno.HidratosDeCarbono}}</td>
    <td>{{sumaDesayuno.Fibra}}</td>
    <td>{{sumaDesayuno.VitaminaA}}</td>
    <td>{{sumaDesayuno.AcidoAscorbico}}</td>
    <td>{{sumaDesayuno.AcidoFolico}}</td>
    <td>{{sumaDesayuno.Hierro}}</td>
    <td>{{sumaDesayuno.Potasio}}</td>
    <td>{{sumaDesayuno.IndiceGlicemico}}</td>
    <td>{{sumaDesayuno.CargaGlicemica}}</td>
    <td>{{sumaDesayuno.AzucarPorEquivalente}}</td>
    <td>{{sumaDesayuno.Calcio}}</td>
    <td>{{sumaDesayuno.Sodio}}</td>
    <td>{{sumaDesayuno.Selenio}}</td>
    <td>{{sumaDesayuno.Fosforo}}</td>
    <td>{{sumaDesayuno.Colesterol}}</td>
    <td>{{sumaDesayuno.AgSaturados}}</td>
    <td>{{sumaDesayuno.AgMonoinsaturados}}</td>
    <td>{{sumaDesayuno.AgPoliinsaturados}}</td>
    <td>{{sumaDesayuno.Etanol}}</td>
  </tr>
 
    <!-- Seccion de la colacion matutina -->
    <tr>
      <th class="tiempoComida" colspan="28">Colaci&oacute;n Matutina</th>
    </tr>
      <tr>
        <th class="nutriente">Alimento</th>
        <th class="nutriente">Cantidad sugerida</th>
        <th class="nutriente">Unidad</th>
        <th class="nutriente">Peso bruto redondeado (g)</th>
        <th class="nutriente">Peso neto (g)</th>
        <th class="nutriente">Agua (ml)</th>
        <th class="nutriente">Energ&iacute;a (kcal)</th>
        <th class="nutriente">Prote&iacute;na (g)</th>
        <th class="nutriente">L&iacute;pidos (g)</th>
        <th class="nutriente">Hidratos de carbono (g)</th>
        <th class="nutriente">Fibra (g)</th>
        <th class="nutriente">Vitamina A (&micro;g RE)</th>
        <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
        <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
        <th class="nutriente">Hierro (mg)</th>
        <th class="nutriente">Potasio (mg)</th>
        <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
        <th class="nutriente">Carga glic&eacute;mica</th>
        <th class="nutriente">Az&uacute;car por equivalente (g)</th>
        <th class="nutriente">Calcio (mg)</th>
        <th class="nutriente">Sodio (mg)</th>
        <th class="nutriente">Selenio (&micro;g)</th>
        <th class="nutriente">F&oacute;sforo (mg)</th>
        <th class="nutriente">Colesterol (mg)</th>
        <th class="nutriente">AG saturados (g)</th>
        <th class="nutriente">AG monoinsaturados (g)</th>
        <th class="nutriente">AG poliinsaturados (g)</th>
        <th class="nutriente">Etanol (g)</th>      
  </tr>
  <!-- Seccion de los alimento de la Colacion Matutina --> 
  <tr *ngFor="let colacionMatutina of ColacionMatutina">
    <td>{{colacionMatutina.Alimento}}</td>
    <td>{{colacionMatutina.CantidadSugerida}}</td>
    <td>{{colacionMatutina.Unidad}}</td>
    <td>{{colacionMatutina.PesoBrutoRedondeado}}</td>
    <td>{{colacionMatutina.PesoNeto}}</td>
    <td>{{colacionMatutina.Agua}}</td>
    <td>{{colacionMatutina.Energia}}</td>
    <td>{{colacionMatutina.Proteina}}</td>
    <td>{{colacionMatutina.Lipidos}}</td>
    <td>{{colacionMatutina.HidratosDeCarbono}}</td>
    <td>{{colacionMatutina.Fibra}}</td>
    <td>{{colacionMatutina.VitaminaA}}</td>
    <td>{{colacionMatutina.AcidoAscorbico}}</td>
    <td>{{colacionMatutina.AcidoFolico}}</td>
    <td>{{colacionMatutina.Hierro}}</td>
    <td>{{colacionMatutina.Potasio}}</td>
    <td>{{colacionMatutina.IndiceGlicemico}}</td>
    <td>{{colacionMatutina.CargaGlicemica}}</td>
    <td>{{colacionMatutina.AzucarPorEquivalente}}</td>
    <td>{{colacionMatutina.Calcio}}</td>
    <td>{{colacionMatutina.Sodio}}</td>
    <td>{{colacionMatutina.Selenio}}</td>
    <td>{{colacionMatutina.Fosforo}}</td>
    <td>{{colacionMatutina.Colesterol}}</td>
    <td>{{colacionMatutina.AgSaturados}}</td>
    <td>{{colacionMatutina.AgMonoinsaturados}}</td>
    <td>{{colacionMatutina.AgPoliinsaturados}}</td>
    <td>{{colacionMatutina.Etanol}}</td>
  </tr>
 
  <!-- Seccion de la suma de la colacion matutina --> 
    <tr>    
      <th class="suma" colspan="28">Suma preliminar de la Colaci&oacute;n Matutina</th>
    </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <th class="nutriente">Peso bruto redondeado (g)</th>
        <th class="nutriente">Peso neto (g)</th>
        <th class="nutriente">Agua (ml)</th>
        <th class="nutriente">Energ&iacute;a (kcal)</th>
        <th class="nutriente">Prote&iacute;na (g)</th>
        <th class="nutriente">L&iacute;pidos (g)</th>
        <th class="nutriente">Hidratos de carbono (g)</th>
        <th class="nutriente">Fibra (g)</th>
        <th class="nutriente">Vitamina A (&micro;g RE)</th>
        <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
        <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
        <th class="nutriente">Hierro (mg)</th>
        <th class="nutriente">Potasio (mg)</th>
        <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
        <th class="nutriente">Carga glic&eacute;mica</th>
        <th class="nutriente">Az&uacute;car por equivalente (g)</th>
        <th class="nutriente">Calcio (mg)</th>
        <th class="nutriente">Sodio (mg)</th>
        <th class="nutriente">Selenio (&micro;g)</th>
        <th class="nutriente">F&oacute;sforo (mg)</th>
        <th class="nutriente">Colesterol (mg)</th>
        <th class="nutriente">AG saturados (g)</th>
        <th class="nutriente">AG monoinsaturados (g)</th>
        <th class="nutriente">AG poliinsaturados (g)</th>
        <th class="nutriente">Etanol (g)</th>
  </tr>
  <!-- Seccion de la suma de la colacion Matutina llenado--> 
  <tr *ngFor="let sumaColacionMatutina of SumaColacionMatutina">
    <td></td>
    <td></td>
    <td></td>
    <td>{{sumaColacionMatutina.PesoBrutoRedondeado}}</td>
    <td>{{sumaColacionMatutina.PesoNeto}}</td>
    <td>{{sumaColacionMatutina.Agua}}</td>
    <td>{{sumaColacionMatutina.Energia}}</td>
    <td>{{sumaColacionMatutina.Proteina}}</td>
    <td>{{sumaColacionMatutina.Lipidos}}</td>
    <td>{{sumaColacionMatutina.HidratosDeCarbono}}</td>
    <td>{{sumaColacionMatutina.Fibra}}</td>
    <td>{{sumaColacionMatutina.VitaminaA}}</td>
    <td>{{sumaColacionMatutina.AcidoAscorbico}}</td>
    <td>{{sumaColacionMatutina.AcidoFolico}}</td>
    <td>{{sumaColacionMatutina.Hierro}}</td>
    <td>{{sumaColacionMatutina.Potasio}}</td>
    <td>{{sumaColacionMatutina.IndiceGlicemico}}</td>
    <td>{{sumaColacionMatutina.CargaGlicemica}}</td>
    <td>{{sumaColacionMatutina.AzucarPorEquivalente}}</td>
    <td>{{sumaColacionMatutina.Calcio}}</td>
    <td>{{sumaColacionMatutina.Sodio}}</td>
    <td>{{sumaColacionMatutina.Selenio}}</td>
    <td>{{sumaColacionMatutina.Fosforo}}</td>
    <td>{{sumaColacionMatutina.Colesterol}}</td>
    <td>{{sumaColacionMatutina.AgSaturados}}</td>
    <td>{{sumaColacionMatutina.AgMonoinsaturados}}</td>
    <td>{{sumaColacionMatutina.AgPoliinsaturados}}</td>
    <td>{{sumaColacionMatutina.Etanol}}</td>
  </tr> 

    <!-- Seccion de la comida --> 
    <tr>
      <th class="tiempoComida" colspan="28">Comida</th>
    </tr>
    <tr>
      <th class="nutriente">Alimento</th>
      <th class="nutriente">Cantidad sugerida</th>
      <th class="nutriente">Unidad</th>
      <th class="nutriente">Peso bruto redondeado (g)</th>
      <th class="nutriente">Peso neto (g)</th>
      <th class="nutriente">Agua (ml)</th>
      <th class="nutriente">Energ&iacute;a (kcal)</th>
      <th class="nutriente">Prote&iacute;na (g)</th>
      <th class="nutriente">L&iacute;pidos (g)</th>
      <th class="nutriente">Hidratos de carbono (g)</th>
      <th class="nutriente">Fibra (g)</th>
      <th class="nutriente">Vitamina A (&micro;g RE)</th>
      <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
      <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
      <th class="nutriente">Hierro (mg)</th>
      <th class="nutriente">Potasio (mg)</th>
      <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
      <th class="nutriente">Carga glic&eacute;mica</th>
      <th class="nutriente">Az&uacute;car por equivalente (g)</th>
      <th class="nutriente">Calcio (mg)</th>
      <th class="nutriente">Sodio (mg)</th>
      <th class="nutriente">Selenio (&micro;g)</th>
      <th class="nutriente">F&oacute;sforo (mg)</th>
      <th class="nutriente">Colesterol (mg)</th>
      <th class="nutriente">AG saturados (g)</th>
      <th class="nutriente">AG monoinsaturados (g)</th>
      <th class="nutriente">AG poliinsaturados (g)</th>
      <th class="nutriente">Etanol (g)</th>      
  </tr>
  <!-- Aca llenamos la tabla de Comida--> 
  <tr *ngFor="let comida of Comida">
    <td>{{comida.Alimento}}</td>
    <td>{{comida.CantidadSugerida}}</td>
    <td>{{comida.Unidad}}</td>
    <td>{{comida.PesoBrutoRedondeado}}</td>
    <td>{{comida.PesoNeto}}</td>
    <td>{{comida.Agua}}</td>
    <td>{{comida.Energia}}</td>
    <td>{{comida.Proteina}}</td>
    <td>{{comida.Lipidos}}</td>
    <td>{{comida.HidratosDeCarbono}}</td>
    <td>{{comida.Fibra}}</td>
    <td>{{comida.VitaminaA}}</td>
    <td>{{comida.AcidoAscorbico}}</td>
    <td>{{comida.AcidoFolico}}</td>
    <td>{{comida.Hierro}}</td>
    <td>{{comida.Potasio}}</td>
    <td>{{comida.IndiceGlicemico}}</td>
    <td>{{comida.CargaGlicemica}}</td>
    <td>{{comida.AzucarPorEquivalente}}</td>
    <td>{{comida.Calcio}}</td>
    <td>{{comida.Sodio}}</td>
    <td>{{comida.Selenio}}</td>
    <td>{{comida.Fosforo}}</td>
    <td>{{comida.Colesterol}}</td>
    <td>{{comida.AgSaturados}}</td>
    <td>{{comida.AgMonoinsaturados}}</td>
    <td>{{comida.AgPoliinsaturados}}</td>
    <td>{{comida.Etanol}}</td>  
  </tr>

   <!-- Seccion de la suma de la comida --> 
   <tr>
    <th class="suma" colspan="28">Suma preliminar de la Comida</th>
  </tr>
   <tr>
     <td></td>
     <td></td>
     <td></td>
     <th class="nutriente">Peso bruto redondeado (g)</th>
     <th class="nutriente">Peso neto (g)</th>
     <th class="nutriente">Agua (ml)</th>
     <th class="nutriente">Energ&iacute;a (kcal)</th>
     <th class="nutriente">Prote&iacute;na (g)</th>
     <th class="nutriente">L&iacute;pidos (g)</th>
     <th class="nutriente">Hidratos de carbono (g)</th>
     <th class="nutriente">Fibra (g)</th>
     <th class="nutriente">Vitamina A (&micro;g RE)</th>
     <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
     <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
     <th class="nutriente">Hierro (mg)</th>
     <th class="nutriente">Potasio (mg)</th>
     <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
     <th class="nutriente">Carga glic&eacute;mica</th>
     <th class="nutriente">Az&uacute;car por equivalente (g)</th>
     <th class="nutriente">Calcio (mg)</th>
     <th class="nutriente">Sodio (mg)</th>
     <th class="nutriente">Selenio (&micro;g)</th>
     <th class="nutriente">F&oacute;sforo (mg)</th>
     <th class="nutriente">Colesterol (mg)</th>
     <th class="nutriente">AG saturados (g)</th>
     <th class="nutriente">AG monoinsaturados (g)</th>
     <th class="nutriente">AG poliinsaturados (g)</th>
     <th class="nutriente">Etanol (g)</th>
  </tr>
  <!-- Seccion de llenado de la suma de la Comida--> 
  <tr *ngFor="let sumaComida of SumaComida">
    <td></td>
    <td></td>
    <td></td>
    <td>{{sumaComida.PesoBrutoRedondeado}}</td>
    <td>{{sumaComida.PesoNeto}}</td>
    <td>{{sumaComida.Agua}}</td>
    <td>{{sumaComida.Energia}}</td>
    <td>{{sumaComida.Proteina}}</td>
    <td>{{sumaComida.Lipidos}}</td>
    <td>{{sumaComida.HidratosDeCarbono}}</td>
    <td>{{sumaComida.Fibra}}</td>
    <td>{{sumaComida.VitaminaA}}</td>
    <td>{{sumaComida.AcidoAscorbico}}</td>
    <td>{{sumaComida.AcidoFolico}}</td>
    <td>{{sumaComida.Hierro}}</td>
    <td>{{sumaComida.Potasio}}</td>
    <td>{{sumaComida.IndiceGlicemico}}</td>
    <td>{{sumaComida.CargaGlicemica}}</td>
    <td>{{sumaComida.AzucarPorEquivalente}}</td>
    <td>{{sumaComida.Calcio}}</td>
    <td>{{sumaComida.Sodio}}</td>
    <td>{{sumaComida.Selenio}}</td>
    <td>{{sumaComida.Fosforo}}</td>
    <td>{{sumaComida.Colesterol}}</td>
    <td>{{sumaComida.AgSaturados}}</td>
    <td>{{sumaComida.AgMonoinsaturados}}</td>
    <td>{{sumaComida.AgPoliinsaturados}}</td>
    <td>{{sumaComida.Etanol}}</td>
  </tr>

    <!-- Seccion de la colacion vespertina --> 
    <tr>
      <th class="tiempoComida" colspan="28">Colaci&oacute;n Vespertina</th>
    </tr>
      <tr>
        <th class="nutriente">Alimento</th>
        <th class="nutriente">Cantidad sugerida</th>
        <th class="nutriente">Unidad</th>
        <th class="nutriente">Peso bruto redondeado (g)</th>
        <th class="nutriente">Peso neto (g)</th>
        <th class="nutriente">Agua (ml)</th>
        <th class="nutriente">Energ&iacute;a (kcal)</th>
        <th class="nutriente">Prote&iacute;na (g)</th>
        <th class="nutriente">L&iacute;pidos (g)</th>
        <th class="nutriente">Hidratos de carbono (g)</th>
        <th class="nutriente">Fibra (g)</th>
        <th class="nutriente">Vitamina A (&micro;g RE)</th>
        <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
        <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
        <th class="nutriente">Hierro (mg)</th>
        <th class="nutriente">Potasio (mg)</th>
        <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
        <th class="nutriente">Carga glic&eacute;mica</th>
        <th class="nutriente">Az&uacute;car por equivalente (g)</th>
        <th class="nutriente">Calcio (mg)</th>
        <th class="nutriente">Sodio (mg)</th>
        <th class="nutriente">Selenio (&micro;g)</th>
        <th class="nutriente">F&oacute;sforo (mg)</th>
        <th class="nutriente">Colesterol (mg)</th>
        <th class="nutriente">AG saturados (g)</th>
        <th class="nutriente">AG monoinsaturados (g)</th>
        <th class="nutriente">AG poliinsaturados (g)</th>
        <th class="nutriente">Etanol (g)</th>      
  </tr>
  <!-- Llenamos los alimento de la colacion vespertina -->
  <tr *ngFor="let colacionVespertina of ColacionVespertina">
    <td>{{colacionVespertina.Alimento}}</td>
    <td>{{colacionVespertina.CantidadSugerida}}</td>
    <td>{{colacionVespertina.Unidad}}</td>
    <td>{{colacionVespertina.PesoBrutoRedondeado}}</td>
    <td>{{colacionVespertina.PesoNeto}}</td>
    <td>{{colacionVespertina.Agua}}</td>
    <td>{{colacionVespertina.Energia}}</td>
    <td>{{colacionVespertina.Proteina}}</td>
    <td>{{colacionVespertina.Lipidos}}</td>
    <td>{{colacionVespertina.HidratosDeCarbono}}</td>
    <td>{{colacionVespertina.Fibra}}</td>
    <td>{{colacionVespertina.VitaminaA}}</td>
    <td>{{colacionVespertina.AcidoAscorbico}}</td>
    <td>{{colacionVespertina.AcidoFolico}}</td>
    <td>{{colacionVespertina.Hierro}}</td>
    <td>{{colacionVespertina.Potasio}}</td>
    <td>{{colacionVespertina.IndiceGlicemico}}</td>
    <td>{{colacionVespertina.CargaGlicemica}}</td>
    <td>{{colacionVespertina.AzucarPorEquivalente}}</td>
    <td>{{colacionVespertina.Calcio}}</td>
    <td>{{colacionVespertina.Sodio}}</td>
    <td>{{colacionVespertina.Selenio}}</td>
    <td>{{colacionVespertina.Fosforo}}</td>
    <td>{{colacionVespertina.Colesterol}}</td>
    <td>{{colacionVespertina.AgSaturados}}</td>
    <td>{{colacionVespertina.AgMonoinsaturados}}</td>
    <td>{{colacionVespertina.AgPoliinsaturados}}</td>
    <td>{{colacionVespertina.Etanol}}</td>
  </tr>

    <!-- Seccion de la suma de la colacion vespertina --> 
    <tr>    
      <th class="suma" colspan="28">Suma preliminar de la Colaci&oacute;n Vespertina</th>
    </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <th class="nutriente">Peso bruto redondeado (g)</th>
        <th class="nutriente">Peso neto (g)</th>
        <th class="nutriente">Agua (ml)</th>
        <th class="nutriente">Energ&iacute;a (kcal)</th>
        <th class="nutriente">Prote&iacute;na (g)</th>
        <th class="nutriente">L&iacute;pidos (g)</th>
        <th class="nutriente">Hidratos de carbono (g)</th>
        <th class="nutriente">Fibra (g)</th>
        <th class="nutriente">Vitamina A (&micro;g RE)</th>
        <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
        <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
        <th class="nutriente">Hierro (mg)</th>
        <th class="nutriente">Potasio (mg)</th>
        <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
        <th class="nutriente">Carga glic&eacute;mica</th>
        <th class="nutriente">Az&uacute;car por equivalente (g)</th>
        <th class="nutriente">Calcio (mg)</th>
        <th class="nutriente">Sodio (mg)</th>
        <th class="nutriente">Selenio (&micro;g)</th>
        <th class="nutriente">F&oacute;sforo (mg)</th>
        <th class="nutriente">Colesterol (mg)</th>
        <th class="nutriente">AG saturados (g)</th>
        <th class="nutriente">AG monoinsaturados (g)</th>
        <th class="nutriente">AG poliinsaturados (g)</th>
        <th class="nutriente">Etanol (g)</th>
  </tr>
  <!-- Llenamos la suma de la Colacion Vespertina --> 
  <tr *ngFor="let sumaColacionVespertina of SumaColacionVespertina">
    <td></td>
    <td></td>
    <td></td>
    <td>{{sumaColacionVespertina.PesoBrutoRedondeado}}</td>
    <td>{{sumaColacionVespertina.PesoNeto}}</td>
    <td>{{sumaColacionVespertina.Agua}}</td>
    <td>{{sumaColacionVespertina.Energia}}</td>
    <td>{{sumaColacionVespertina.Proteina}}</td>
    <td>{{sumaColacionVespertina.Lipidos}}</td>
    <td>{{sumaColacionVespertina.HidratosDeCarbono}}</td>
    <td>{{sumaColacionVespertina.Fibra}}</td>
    <td>{{sumaColacionVespertina.VitaminaA}}</td>
    <td>{{sumaColacionVespertina.AcidoAscorbico}}</td>
    <td>{{sumaColacionVespertina.AcidoFolico}}</td>
    <td>{{sumaColacionVespertina.Hierro}}</td>
    <td>{{sumaColacionVespertina.Potasio}}</td>
    <td>{{sumaColacionVespertina.IndiceGlicemico}}</td>
    <td>{{sumaColacionVespertina.CargaGlicemica}}</td>
    <td>{{sumaColacionVespertina.AzucarPorEquivalente}}</td>
    <td>{{sumaColacionVespertina.Calcio}}</td>
    <td>{{sumaColacionVespertina.Sodio}}</td>
    <td>{{sumaColacionVespertina.Selenio}}</td>
    <td>{{sumaColacionVespertina.Fosforo}}</td>
    <td>{{sumaColacionVespertina.Colesterol}}</td>
    <td>{{sumaColacionVespertina.AgSaturados}}</td>
    <td>{{sumaColacionVespertina.AgMonoinsaturados}}</td>
    <td>{{sumaColacionVespertina.AgPoliinsaturados}}</td>
    <td>{{sumaColacionVespertina.Etanol}}</td>
  </tr>

    <!-- Seccion de la cena --> 
    <tr>
      <th class="tiempoComida" colspan="28">Cena</th>
    </tr>
    <tr>
      <th class="nutriente">Alimento</th>
      <th class="nutriente">Cantidad sugerida</th>
      <th class="nutriente">Unidad</th>
      <th class="nutriente">Peso bruto redondeado (g)</th>
      <th class="nutriente">Peso neto (g)</th>
      <th class="nutriente">Agua (ml)</th>
      <th class="nutriente">Energ&iacute;a (kcal)</th>
      <th class="nutriente">Prote&iacute;na (g)</th>
      <th class="nutriente">L&iacute;pidos (g)</th>
      <th class="nutriente">Hidratos de carbono (g)</th>
      <th class="nutriente">Fibra (g)</th>
      <th class="nutriente">Vitamina A (&micro;g RE)</th>
      <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
      <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
      <th class="nutriente">Hierro (mg)</th>
      <th class="nutriente">Potasio (mg)</th>
      <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
      <th class="nutriente">Carga glic&eacute;mica</th>
      <th class="nutriente">Az&uacute;car por equivalente (g)</th>
      <th class="nutriente">Calcio (mg)</th>
      <th class="nutriente">Sodio (mg)</th>
      <th class="nutriente">Selenio (&micro;g)</th>
      <th class="nutriente">F&oacute;sforo (mg)</th>
      <th class="nutriente">Colesterol (mg)</th>
      <th class="nutriente">AG saturados (g)</th>
      <th class="nutriente">AG monoinsaturados (g)</th>
      <th class="nutriente">AG poliinsaturados (g)</th>
      <th class="nutriente">Etanol (g)</th>      
  </tr>
  <!-- Aca llenamos la tabla de Cena--> 
  <tr *ngFor="let cena of Cena">
    <td>{{cena.Alimento}}</td>
    <td>{{cena.CantidadSugerida}}</td>
    <td>{{cena.Unidad}}</td>
    <td>{{cena.PesoBrutoRedondeado}}</td>
    <td>{{cena.PesoNeto}}</td>
    <td>{{cena.Agua}}</td>
    <td>{{cena.Energia}}</td>
    <td>{{cena.Proteina}}</td>
    <td>{{cena.Lipidos}}</td>
    <td>{{cena.HidratosDeCarbono}}</td>
    <td>{{cena.Fibra}}</td>
    <td>{{cena.VitaminaA}}</td>
    <td>{{cena.AcidoAscorbico}}</td>
    <td>{{cena.AcidoFolico}}</td>
    <td>{{cena.Hierro}}</td>
    <td>{{cena.Potasio}}</td>
    <td>{{cena.IndiceGlicemico}}</td>
    <td>{{cena.CargaGlicemica}}</td>
    <td>{{cena.AzucarPorEquivalente}}</td>
    <td>{{cena.Calcio}}</td>
    <td>{{cena.Sodio}}</td>
    <td>{{cena.Selenio}}</td>
    <td>{{cena.Fosforo}}</td>
    <td>{{cena.Colesterol}}</td>
    <td>{{cena.AgSaturados}}</td>
    <td>{{cena.AgMonoinsaturados}}</td>
    <td>{{cena.AgPoliinsaturados}}</td>
    <td>{{cena.Etanol}}</td>  
  </tr>
  
    <!-- Seccion de la suma de la cena --> 
    <tr>
      <th class="suma" colspan="28">Suma preliminar de la Cena</th>
    </tr>
     <tr>
       <td></td>
       <td></td>
       <td></td>
       <th class="nutriente">Peso bruto redondeado (g)</th>
       <th class="nutriente">Peso neto (g)</th>
       <th class="nutriente">Agua (ml)</th>
       <th class="nutriente">Energ&iacute;a (kcal)</th>
       <th class="nutriente">Prote&iacute;na (g)</th>
       <th class="nutriente">L&iacute;pidos (g)</th>
       <th class="nutriente">Hidratos de carbono (g)</th>
       <th class="nutriente">Fibra (g)</th>
       <th class="nutriente">Vitamina A (&micro;g RE)</th>
       <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
       <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
       <th class="nutriente">Hierro (mg)</th>
       <th class="nutriente">Potasio (mg)</th>
       <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
       <th class="nutriente">Carga glic&eacute;mica</th>
       <th class="nutriente">Az&uacute;car por equivalente (g)</th>
       <th class="nutriente">Calcio (mg)</th>
       <th class="nutriente">Sodio (mg)</th>
       <th class="nutriente">Selenio (&micro;g)</th>
       <th class="nutriente">F&oacute;sforo (mg)</th>
       <th class="nutriente">Colesterol (mg)</th>
       <th class="nutriente">AG saturados (g)</th>
       <th class="nutriente">AG monoinsaturados (g)</th>
       <th class="nutriente">AG poliinsaturados (g)</th>
       <th class="nutriente">Etanol (g)</th>
    </tr>
    <!-- Llenamos la suma de la Cena--> 
    <tr *ngFor="let sumaCena of SumaCena">
        <td></td>
        <td></td>
        <td></td>
        <td>{{sumaCena.PesoBrutoRedondeado}}</td>
        <td>{{sumaCena.PesoNeto}}</td>
        <td>{{sumaCena.Agua}}</td>
        <td>{{sumaCena.Energia}}</td>
        <td>{{sumaCena.Proteina}}</td>
        <td>{{sumaCena.Lipidos}}</td>
        <td>{{sumaCena.HidratosDeCarbono}}</td>
        <td>{{sumaCena.Fibra}}</td>
        <td>{{sumaCena.VitaminaA}}</td>
        <td>{{sumaCena.AcidoAscorbico}}</td>
        <td>{{sumaCena.AcidoFolico}}</td>
        <td>{{sumaCena.Hierro}}</td>
        <td>{{sumaCena.Potasio}}</td>
        <td>{{sumaCena.IndiceGlicemico}}</td>
        <td>{{sumaCena.CargaGlicemica}}</td>
        <td>{{sumaCena.AzucarPorEquivalente}}</td>
        <td>{{sumaCena.Calcio}}</td>
        <td>{{sumaCena.Sodio}}</td>
        <td>{{sumaCena.Selenio}}</td>
        <td>{{sumaCena.Fosforo}}</td>
        <td>{{sumaCena.Colesterol}}</td>
        <td>{{sumaCena.AgSaturados}}</td>
        <td>{{sumaCena.AgMonoinsaturados}}</td>
        <td>{{sumaCena.AgPoliinsaturados}}</td>
        <td>{{sumaCena.Etanol}}</td>
      </tr>

  <!-- SUMA FINAL--> 
  <tr>
    <th class="tiempoComida" colspan="28">Suma Final</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <th class="nutriente">Peso bruto redondeado (g)</th>
    <th class="nutriente">Peso neto (g)</th>
    <th class="nutriente">Agua (ml)</th>
    <th class="nutriente">Energ&iacute;a (kcal)</th>
    <th class="nutriente">Prote&iacute;na (g)</th>
    <th class="nutriente">L&iacute;pidos (g)</th>
    <th class="nutriente">Hidratos de carbono (g)</th>
    <th class="nutriente">Fibra (g)</th>
    <th class="nutriente">Vitamina A (&micro;g RE)</th>
    <th class="nutriente">&Aacute;cido Asc&oacute;rbico (mg)</th>
    <th class="nutriente">&Aacute;cido F&oacute;lico (&micro;g)</th>
    <th class="nutriente">Hierro (mg)</th>
    <th class="nutriente">Potasio (mg)</th>
    <th class="nutriente">&Iacute;ndice glic&eacute;mico</th>
    <th class="nutriente">Carga glic&eacute;mica</th>
    <th class="nutriente">Az&uacute;car por equivalente (g)</th>
    <th class="nutriente">Calcio (mg)</th>
    <th class="nutriente">Sodio (mg)</th>
    <th class="nutriente">Selenio (&micro;g)</th>
    <th class="nutriente">F&oacute;sforo (mg)</th>
    <th class="nutriente">Colesterol (mg)</th>
    <th class="nutriente">AG saturados (g)</th>
    <th class="nutriente">AG monoinsaturados (g)</th>
    <th class="nutriente">AG poliinsaturados (g)</th>
    <th class="nutriente">Etanol (g)</th>      
  </tr>
  <!-- SUMA FINAL valores--> 
  <tr *ngFor="let sumaTotal of SUMATOTAL">
    <td></td>
    <td></td>
    <td></td>
    <td>{{sumaTotal.PesoBrutoRedondeado}}</td>
    <td>{{sumaTotal.PesoNeto}}</td>
    <td>{{sumaTotal.Agua}}</td>
    <td>{{sumaTotal.Energia}}</td>
    <td>{{sumaTotal.Proteina}}</td>
    <td>{{sumaTotal.Lipidos}}</td>
    <td>{{sumaTotal.HidratosDeCarbono}}</td>
    <td>{{sumaTotal.Fibra}}</td>
    <td>{{sumaTotal.VitaminaA}}</td>
    <td>{{sumaTotal.AcidoAscorbico}}</td>
    <td>{{sumaTotal.AcidoFolico}}</td>
    <td>{{sumaTotal.Hierro}}</td>
    <td>{{sumaTotal.Potasio}}</td>
    <td>{{sumaTotal.IndiceGlicemico}}</td>
    <td>{{sumaTotal.CargaGlicemica}}</td>
    <td>{{sumaTotal.AzucarPorEquivalente}}</td>
    <td>{{sumaTotal.Calcio}}</td>
    <td>{{sumaTotal.Sodio}}</td>
    <td>{{sumaTotal.Selenio}}</td>
    <td>{{sumaTotal.Fosforo}}</td>
    <td>{{sumaTotal.Colesterol}}</td>
    <td>{{sumaTotal.AgSaturados}}</td>
    <td>{{sumaTotal.AgMonoinsaturados}}</td>
    <td>{{sumaTotal.AgPoliinsaturados}}</td>
    <td>{{sumaTotal.Etanol}}</td>
  </tr>
  </table>  
  <br>
  </div>