<!-- Page Content-->
<div class="container px-4 px-lg-5">
   

    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">


        <!-- Login -->
        <div class="col-lg-12">
            <!-- Section: Design Block -->
            <section class="">
                <!-- Jumbotron -->
                <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
                    <div class="container">
                        <div class="row gx-lg-5 align-items-center">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <div class="card">
                                    <div class="card-body py-5 px-md-5">
                                        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()"
                                            #f="ngForm" novalidate>
                                            <h3>Crea tu cuenta es gratuita</h3>
                                            <!-- Nombre input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" [(ngModel)]="form.username" id="nombre" name="nombre"
                                                    class="form-control" required minlength="3" maxlength="20"
                                                    #username="ngModel" placeholder="Nombre" />
                                            </div>

                                            <div class="alert-danger" *ngIf="username.errors && f.submitted">
                                                <div *ngIf="username.errors['required']">Nombre de usuario requerido
                                                </div>
                                                <div *ngIf="username.errors['minlength']">
                                                    Nombre de usuario mayor a 3 caracteres
                                                </div>
                                                <div *ngIf="username.errors['maxlength']">
                                                    Nombre de usuario no más de 20 caracteres
                                                </div>
                                            </div>

                                            <!-- Email input -->
                                            <div class="form-outline mb-4">
                                                <input type="email" [(ngModel)]="form.email" id="correo" name="correo"
                                                    class="form-control" required email #email="ngModel"
                                                    placeholder="Dirección de correo electrónico" />
                                            </div>

                                            <div class="alert-danger" *ngIf="email.errors && f.submitted">
                                                <div *ngIf="email.errors['required']">Email es requerido</div>
                                                <div *ngIf="email.errors['email']">
                                                    Email debe ser un correo válido
                                                </div>
                                            </div>

                                            <!-- Password input -->
                                            <div class="form-outline mb-4">
                                                <input type="password" [(ngModel)]="form.password" id="password"
                                                    name="password" class="form-control" required minlength="6"
                                                    #password="ngModel" placeholder="Contraseña" />
                                            </div>

                                            <div class="alert-danger" *ngIf="password.errors && f.submitted">
                                                <div *ngIf="password.errors['required']">Contraseña es requerido</div>
                                                <div *ngIf="password.errors['minlength']">
                                                    Contraseña mayor a 5 caracteres
                                                </div>
                                            </div>

                                            <!-- Checkbox -->
                                            <div class="form-check d-flex justify-content-start mb-4">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="form1Example3" />
                                                <label class="form-check-label" for="form1Example3"> Acepto los términos
                                                    y condiciones</label>
                                            </div>


                                            <!-- Submit button -->
                                            <button class="btn btn-primary btn-block mb-4">
                                                Crear cuenta
                                            </button>


                                            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                                Error al crear el registro!<br />{{ errorMessage }}
                                            </div>


                                            <hr class="sidebar-divider">
                                            <p>¿Ya tienes una cuenta? <a href="/" class="link-info">Entrar</a></p>
                                        </form>
                                        <div class="alert alert-success" *ngIf="isSuccessful">
                                            Usuario registrado con éxito!
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                    </div>
                </div>
                <!-- Jumbotron -->
            </section>
            <!-- Section: Design Block -->
        </div>
        <!-- Termina el Login -->
    </div>    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

</div>